.wrapper {
    margin: 0 auto;
    width: 900px;
}



.letter-btns {
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-right: 5px;
    cursor: pointer;
    text-align: center;
}

.letter-btns:hover {
    border: 1px solid black;
    border-radius: 50%;
}