.wrapper {
    margin: 0 auto;
    width: 900px;

}
.letter-btns {
    width: 25px;
    height: 25px;
    display: inline-block;
    margin-right: 5px;
    cursor: pointer;
    text-align: center;
}

.letter-btns:hover {
    border: 1px solid black;
    border-radius: 50%;
}

.drinks__wrapper {
    /* display: flex;
    flex-wrap: wrap; */
    font-family: 'Lobster Two', cursive;
    font-size: 24px;

}
.wrapper__image {
    width: 400px;
    
}
.drink__image {
    float: left;
    width: 100%;
    height: auto;
    padding-right: 10px;
    border-radius: 50%;
}
.drinks__wrapper li {
    cursor: pointer;
}
.main__content {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}