.wrapper {
    margin: 0 auto;
    width: 900px;

}
.letter-btns {
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-right: 5px;
    cursor: pointer;
    text-align: center;
}

.letter-btns:hover {
    border: 1px solid black;
    border-radius: 50%;
}

.drinks__wrapper {
    /* display: flex;
    flex-wrap: wrap; */
    font-family: 'Lobster Two', cursive;
    font-size: 24px;

}
.wrapper__image {
    width: 200px;
}
.drink-image {
    width: 100%;
    height: auto;
}